<div class="container col-4 my-5">
  <h1>Stupid Coaching</h1>

  <br>

  <form action="/answer" data-turbo="false">
    <div class="input-group">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </div>
  </form>

</div>
